:root {
  --primary: #F1F1F1;
  --secondary: #E5E5E5;
  --text: #0F0F0F;
}

html[dark] {
  --primary: #272727;
  --secondary: #3F3F3F;
  --text: #F1F1F1;
}

.yt-comments-enhanced-buttons {
  width: 26px;
  height: 26px;
  border-radius: 20%;
  border: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.6rem;
  margin: 0 1px;
  background-color: var(--primary);
  color: var(--text);
}

.yt-comments-enhanced-buttons:hover {
  background-color: var(--secondary);
}

.yt-comments-enhanced-preview-container {
  background-color: var(--secondary);
  color: var(--text);
  margin-top: 6px;
  padding: 8px;
  border-radius: 5px;
}

.yt-comments-enhanced-preview-container > span {
  margin-top: 6px;
  font-size: 1.2rem;
}

.yt-comments-enhanced-bold {
    font-weight: bold;
}

.yt-comments-enhanced-italic {
    font-style: italic;
}

.yt-comments-enhanced-strikethrough {
    text-decoration: line-through;
}

.yt-comments-enhanced-superscript > span {
    vertical-align: super;
    font-size: 0.6rem;
}