.yt-comments-enhanced-buttons {
    width: 26px;
    height: 26px;
    border-radius: 20%;
    border: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 1px 0 1px;
    background-color: #F1F1F1;
    color: #0F0F0F;
}

.yt-comments-enhanced-preview-container {
  margin-top: 6px;
  padding: 8px;
  border-radius: 5px;
}

.yt-comments-enhanced-preview-container > span {
  margin-top: 6px;
  font-size: 1.2rem;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .yt-comments-enhanced-buttons {
    background-color: #272727;
    color: #F1F1F1;
  }
  .yt-comments-enhanced-buttons:hover {
    background-color: #3F3F3F;
  }
  .yt-comments-enhanced-preview-container {
    background-color: #3F3F3F;
    color: #F1F1F1;
  }
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  .yt-comments-enhanced-buttons {
    background-color: #F1F1F1;
    color: #0F0F0F;
  }
  .yt-comments-enhanced-buttons:hover {
    background-color: #E5E5E5;
  }
  .yt-comments-enhanced-preview-container {
    background-color: #E5E5E5;
    color: #0F0F0F;
  }
}

.yt-comments-enhanced-bold {
    font-weight: bold;
}

.yt-comments-enhanced-italic {
    font-style: italic;
}

.yt-comments-enhanced-strikethrough {
    text-decoration: line-through;
}

.yt-comments-enhanced-superscript > span {
    vertical-align: super;
    font-size: 0.6rem;
}